*{
    z-index: 0;
}
.t_content{
    margin-top: 180px;
    text-align: center;
    font-size: 22px;
    color: #555;
    padding: 0 80px;
    font-weight: bold;
    z-index: 0;
}
.note1{
    font-size: 15px;
    font-weight: normal;
}

.t_main{
    display: flex;
    margin: 50px 50px;
}

.t_filter{
    flex: 2.3;
    width: 240px;
    line-height: 3;
    color: #5c5c5c;
}

.list_items{
    flex: 8.7;
    padding: 0;
}

.inlist {
    padding: 0;
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử chuyển hàng khi không còn đủ không gian */
    float: left;
}

.t-item {
    padding: 0px 0px 0px 50px; /* Điều chỉnh khoảng cách giữa các mục */
    box-sizing: border-box; /* Đảm bảo rằng padding không tăng chiều rộng của các mục */
}

.item-img{
    width: 170px;
    height: 240px;
}
.item-text{
    font-size: 13px;
    padding: 20px 0;
    line-height: 1.5;
    color: #5c5c5c;
    width: 170px;
}

ul.list-trang{
    border-top: 1px solid #ccc;
    padding-top: 25px;
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: center;
}

ul.list-trang li{
    padding: 10px 16px;
    float: left;
    display: block;
    margin: 0 5px 0 0;
    border: 1px solid #ccc;
    color: #5c5c5c;
}
ul.list-trang li a{
    text-decoration: none;
}

.selectA{
    width: 100%;
    padding: 15px;
    border: 0.5px solid #ccc;
    color: #5c5c5c;
    font-size: medium;
    outline: none;
    line-height: 1.5;
}

.custom-radio {
    cursor: pointer;
    /* Đổi con trỏ chuột thành hình bàn tay khi di chuột vào */
}

input[type="radio"] {
    display: none;
    /* Ẩn radio button */
}

input[type="radio"]:checked+label.custom-radio {
    font-weight: bold;
    /* In đậm chữ khi radio button được chọn */
}